* { margin: 0px;
    padding: 0px;}

body{background-color: black;
font-family: "Raleway", sans-serif ;
color: white;}
 
.contacto{margin-left: 15%; margin-right: 15%;}
#inputmensaje{height: 200px;}
 